{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "quote-props": [2, "as-needed", { "unnecessary": false }],
    "new-cap": [2, { "capIsNewExceptions": ["window.Intercom"] }]
  }
}
